/*reset all*/
* {
    margin: 0;
    padding: 0;
    
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(221, 221, 221);
}

p.logo1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #FFFFFF !important;
    text-decoration: none;
}
.hero1 {
    display: flex;
    align-items: center;
}
.box1 {
  background-color: rgb(241, 241, 241);
}
.card {
  background-color: rgb(255, 255, 255);
}

p.card-header-title {
    justify-content: space-around;
}
.has-same-height .card {
    height: 350px;
    overflow: hidden;
  }
  
  .card-content h3 {
    text-align: center;
  }
  .skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
  }
  
  .skills-content .progress {
    height: 4px !important;
  }
  
  .custom-tags {
    text-align: center !important;
    display: block;
  }
  
  .portfolio-container .card {
    margin-bottom: 2em;
  }
  
  .section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
  }
  .text1 {
    font-size: 1.5em;
    
  }
  .text1 a {
      color: black;
  }
  .text1 a:hover {
      color: red;
  }
  